# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environments
venv/
.venv/
env/

# OS files
.DS_Store

# IDE
.vscode/
.idea/
*.swp

# Pytest
.pytest_cache/
.coverage
htmlcov/
